:root {
  font-size: 62.5%;
  --dark: #222;
  --light: #fff;
  --highlight: #f60;
  --movement: #fc0;
  --slot: #09f;
  --buy: #3b0;
  --action: #986;
  --comms: #c3b;
  --font-family: Consolas, Arial, Helvetica, sans-serif;
}

html {
  box-sizing: border-box;
}

body {
  background-color: var(--dark);
  color: #fff;
  font-family: var(--font-family);
  font-size: 1.6rem;
  padding: 0;
}

*,
*:before,
:after {
  box-sizing: inherit;
}

header {
  background-color: var(--light);
  color: var(--dark);
  margin-bottom: 6rem;
  padding: 1em 0;
}

header > div {
  align-items: center;
  margin: 0 auto;
  max-width: 75em;
  display: flex;
  justify-content: space-between;
}

h1 {
  margin: 0;
}

main {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 0 1em;
  width: fit-content;
}

.settings {
  align-items: center;
  display: flex;
}

.settings select {
  color: var(--dark);
  font-family: var(--font-family);
  font-size: 1.2em;
  font-weight: 700;
}

.settings label {
  font-size: 1.2em;
  font-weight: 700;
  margin-right: 0.4em;
}

.keyboard-wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 6rem;
}

.other-wrapper {
  display: flex;
  gap: 3em;
  justify-content: center;
}

.other-wrapper > div:first-child {
  flex-grow: 1;
}

.inputs label {
  display: block;
  margin-bottom: 0.6em;
}

.inputs textarea {
  border: 0;
  min-height: 27.2rem;
  width: 100%;
}
